@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* to have scrollbar functionality without seeing ugly sidebar */
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: black;
  backdrop-filter: opacity(0.5);

  height: 100vh;
}

.heading {
  max-width: 70%;
  background-color: #f5f0bb;
  font-size: 3rem;
  text-align: center;

  font-family: "Comic Neue", cursive;
  font-weight: 400;
  padding: 1.5rem;
  margin: auto;
  margin-top: 1rem;
}

.container {
  padding: 1rem;

  width: 100vw;
  text-align: center;
}

.container > input {
  margin-top: 2rem;
  outline: none;
  height: 4rem;
  width: 50%;
  text-align: center;
  border-radius: 0.4rem;
}
.image {
  margin-top: 2rem;
}
.image > span {
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
}

.image h3 {
  color: white;
  font-size: 2rem;
  font-family: "Comic Neue", cursive;
  margin: 2rem;
  padding: 1rem;
  opacity: 0.6;
}

.glow-on-hover {
  margin-bottom: 3rem;
  width: 110px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
