@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* to have scrollbar functionality without seeing ugly sidebar */
body::-webkit-scrollbar {
  display: none;
}

.heading {
  background-color: #f5f0bb;
  font-size: 3rem;
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  padding: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.container {
  padding: 1rem;

  width: 100vw;
  text-align: center;
}

.container > input {
  height: 3rem;
  width: 50%;
  text-align: center;
  border-radius: 2rem;
}
.image {
  margin-top: 2rem;
}
.image > span {
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
}

.image h3 {
  font-size: 2rem;
  font-family: "Comic Neue", cursive;
  margin: 2rem;
  padding: 1rem;
  opacity: 0.6;
}
